html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

html, body {
  font-family: sans-serif; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  border: none; }

input[type=button], input[type=file], input[type=submit] {
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul, dl {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

a {
  text-decoration: none; }

img {
  border: none; }

.clr {
  *zoom: 1;
  clear: both; }

.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block; }

.fl {
  float: left;
  _display: inline; }

.fr {
  float: right;
  _display: inline; }

.va-t {
  vertical-align: top; }

.va-m {
  vertical-align: middle; }

.va-b {
  vertical-align: bottom; }

.i-hide {
  display: none; }

.i-show {
  display: block; }

.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal; }

.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important; }

.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  width: 100%; }

.nav {
  width: 100%;
  background: #324157; }
  .nav .navview {
    position: relative;
    width: 1200px;
    margin: 0 auto 0; }
    .nav .navview > ul {
      width: 100%; }
  .nav .search {
    position: absolute;
    top: 14px;
    right: 94px;
    margin: 0 auto;
    width: 20%; }
  .nav .login {
    display: block;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 14px;
    top: 0;
    font-size: 14px;
    color: #bfcbd9; }

.cw-icon {
  position: absolute;
  display: inline-block;
  right: 21px;
  top: 19px;
  width: 30px;
  height: 30px;
  background: url(../images/gwc.png) no-repeat;
  background-size: contain;
  z-index: 111; }
  .cw-icon .iconcars {
    display: inline-block;
    position: absolute;
    right: -3px;
    top: -9px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: #ff0006;
    background-size: 30px;
    z-index: 111;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color: #fff;
    padding: 2px; }

.cart {
  margin-bottom: 200px; }
  .cart .cart-th-1 {
    width: 40%;
    box-sizing: border-box;
    padding-left: 10px; }
  .cart .cart-th-2 {
    width: 15%; }
  .cart .cart-th-3 {
    width: 15%; }
  .cart .cart-th-4 {
    width: 15%; }
  .cart .cart-th-5 {
    width: 15%; }
  .cart .cart-th span {
    display: inline-block;
    color: #3c3c3c;
    line-height: 50px;
    font-size: 12px; }
  .cart .cart-td dl {
    box-sizing: border-box;
    padding: 20px 0;
    border: 1px solid #cbcccc;
    margin-bottom: 10px;
    white-space: nowrap; }
    .cart .cart-td dl dd {
      display: inline-block;
      font-size: 13px;
      vertical-align: middle; }
    .cart .cart-td dl .t1 p {
      width: 80%;
      vertical-align: middle;
      white-space: normal;
      line-height: 25px;
      padding-left: 12px; }
    .cart .cart-td dl .t2 {
      font-weight: bold; }
    .cart .cart-td dl .t3 {
      color: #a5a7b7; }
      .cart .cart-td dl .t3 p {
        font-size: 12px; }
    .cart .cart-td dl .t4 {
      color: #ff4400; }
    .cart .cart-td dl .t5 span {
      cursor: pointer; }
  .cart .total .totalbox .tx {
    margin-right: 20px; }
    .cart .total .totalbox .tx em {
      font-style: normal;
      font-size: 22px;
      color: #ff4400; }
  .cart .total .totalbtn {
    margin-top: 25px;
    border-color: #F22D00;
    background: #F22D00;
    width: 134px;
    height: 38px;
    text-align: center;
    border-radius: 2px;
    font-size: 16px; }

/*# sourceMappingURL=auction.css.map */
